<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>フォローユーザー</h2>
      <% if @customers.present? %>
        <%= render 'index',customers: @customers %>
      <% else %>
        <a>ユーザーはいません</a>
      <% end %>
    </div>
  </div>
</div>