<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center fadeIn">ユーザー一覧</h2>
        <%= render 'public/customers/index',customers: @customers %>
    </div>
  </div>
</div>