<div class="container">
  <div class="row">
    <%= render 'public/customers/profile', customer: @customer %>
  </div>
  <div class="row">
    <div class=" col-md-12">
      <%= render 'public/posts/btn' %>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>