<div class="container">
  <div class="row">
    <%= render 'public/customers/profile', customer: @customer %>
  </div>
  <div class="row">
    <%= render 'public/posts/index', posts: @posts %>
  </div>
</div>