<div class ="text-center pt-2 pb-2 fadeIn">
  <%= link_to new_public_post_path do %>
    <p class="h1 d-inline">
      <i class="fa-solid fa-circle-plus" style="color: #fff;"></i>
    </p>
  <% end %>
</div>