<div class="card-deck">
  <% posts.each do |post| %>
    <div class="col-md-3">
      <div class="card mt-2 mb-2 shadow-sm text-center fadeUp" >
        <%= link_to  public_post_path(post) do %>
          <%= image_tag post.get_image(836, 600), class: "card-img-top" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>