<div class="container">
  <div class="row">
    <%= render 'layouts/errors', obj: @post %>
    <div class=".col-md-3">
      <h1>編集機能はオミットされました</h1>
    </div>
    <div class=".col-md-3">
      <%= render 'public/posts/form', post: @post, tag_list: @tag_list %>
    </div>
  </div>
</div>