<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'public/customers/profile', customer: @customer %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center fadeIn text-white"><%= @customer.name %>のフォロー一覧</h2>
      <% if @customers.present? %>
        <%= render 'public/customers/index',customers: @customers %>
      <% else %>
        <p class="text-center fadeIn">ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>