<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <h2>Users search for "<%="#{@word}"%>"</h2>
    <%= render 'public/customers/index', customers: @customers %>
  <% else %>
    <h2>Posts search for "<%="#{@word}"%>"</h2>
    <%= render 'public/posts/index', posts: @posts %>
  <% end %>
</table>