<div class="about container">
  <div class="row">
    <div class="col-md-12 text-center">

      <div class="fadeIn text-white">
        <h1>「Depature」</h1><br>
        <p class="lead">あなたの旅立ちを手助けする写真SNSです</p><br>
      </div>

      <div class="fadeIn delay-time04 text-white">
        <p class="lead">行きたい場所を探したり</p>
        <p class="lead">お気に入りの景色をシェアしたり</p>
        <p class="lead">旅の記録やフォトブックとして利用したり</p><br>
      </div>

      <div class="fadeIn delay-time08 text-white">
        <p class="lead">コロナ禍による規制が緩和されつつある今</p>
        <p class="lead">新しい冒険に出かけてみませんか？</p>
      </div>

      <div class="fadeUp delay-time12 text-white">
        <%= render 'public/posts/btn' %>
        <p>投稿してみよう</p>
      </div>

      <div class="fadeUp delay-time14 text-white">
        <div class ="text-center pt-2 pb-2 fadeIn">
          <%= link_to customers_path do %>
            <p class="h1 d-inline">
              <i class="fa-solid fa-users text-white"></i>
            </p>
          <% end %>
        </div>
        <p>フォローしてみよう</p>
      </div>

    </div>
  </div>
</div>