<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>「Depature」は</h4><br>
      <p>あなたの旅立ちを手助けする写真SNSです</p>
      <p>行きたい場所を探したり</p>
      <p>お気に入りの景色をシェアしたり</p>
      <p>旅の記録やフォトブックとして利用したり</p><br>
      <p>コロナ禍による規制が緩和されつつある今</p>
      <p>新しい冒険に出かけてみませんか？</p>
    </div>
  </div>
</div>